.mainContainer {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100%;
}

.mainContainer i {
  color: #000;
}

.mainContainer h1 {
  font-size: 72px;
  /* margin-bottom: 100px; */
}

.mainContainer h2 {
  font-size: 48px;
}

.mainContainer h1,
.mainContainer h2,
.mainContainer h3,
.mainContainer h4,
.mainContainer h5 {
  color: dodgerblue;
}

/* ! ////////// LEFT SIDE OF THE WEBSITE */

.left {
  display: flex;
  flex-direction: column;
  width: 60vw;
  height: 100vh;
  border-right: 0.3pt solid #ccc;
  overflow: auto;
  scrollbar-width: none;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

.left::-webkit-scrollbar {
  display: none;
}

.left > div {
  scroll-snap-align: start;
}

/* EACH SECTION */
.sectionFormatting {
  position: relative;
  width: 60vw;
  padding: 5%;
  scroll-snap-align: start;
  scroll-margin: 10px 0 0 10px;
}

.sectionFormatting h3 {
  margin: 0 0 0 2em;
  font-size: 36px;
}

.sectionFormatting ol {
  display: flex;
  flex-direction: column;
  font-size: 48px;
  font-weight: bold;
  font-style: italic;
  margin: 1em 0 0 2em;
  height: 100vh;
  line-height: 400px;
}

/* INDIVIDUAL SECTION INFO JUSTIFYING */
.sectionInfo {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-evenly;
}

.welcome {
  margin: 0 0 20px 0;
  align-self: flex-start;
}

.thankyou {
  margin: 0 0 20px 0;
  align-self: flex-end;
}

.video {
  margin: 0 auto;
}

.video h1 {
  text-align: center;
}

.videoplayer {
  width: 40vw;
  height: 20vw;
}

/* TODO ////////// RIGHT SIDE OF THE WEBSITE */

.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40vw;
}

.NFT {
  border-radius: 15px;
  box-shadow: 1px 1px 1px #ccc;

  -moz-animation: spinHorizontal 4s infinite linear;
  -o-animation: spinHorizontal 4s infinite linear;
  -webkit-animation: spinHorizontal 4s infinite linear;
  animation: spinHorizontal 4s infinite linear;
}

@keyframes spinHorizontal {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
